<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serenity</title>
    <link rel="stylesheet" href="css/serenity.css" />
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,500,700' rel='stylesheet' type='text/css' />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
  
</html>
